body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 30px auto;
  width: 1440px;
  position: relative;
  text-align: center;
}

header {
  padding: 6px 0;
}

.group {
  margin-bottom: 1em;
}

.axis {
  font: 10px sans-serif;
  position: relative;
  pointer-events: none;
  z-index: 2;
}

.axis text {
  -webkit-transition: fill-opacity 250ms linear;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis.top {
/*  background-image: linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);*/
/*  top: 0px;*/
  padding: 0 0 0 0;
}

.horizon {
  border-bottom: solid 1px #000;
  overflow: hidden;
  position: relative;
  background-color: white;
}

.horizon {
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
}

.horizon + .horizon {
  border-top: none;
}

.horizon canvas {
  display: block;
}

.horizon .title,
.horizon .value {
  bottom: 0;
  line-height: 30px;
  margin: 0 6px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  white-space: nowrap;
}

.horizon .title {
  left: 0;
}

.horizon .value {
  right: 0;
  /*display: none;*/
}

/*.horizon:hover .value {display: inherit;}*/

.line {
  background: #000;
  z-index: 2;
/*  position: fixed;
  top: 0;
  bottom: 0;
  width: 10px;
  pointer-events: none;*/
}
/*.rule {
    height: 90%;
    position: static;
    border-right: 1px dotted #000;
    text-align: right;
}*/
@media all and (max-width: 1439px) {
  body { margin: 0px auto; }
  .axis { position: static; }
  .axis.top, .axis.bottom { padding: 0; }
}

#dashboard {
  width: 100%;
  margin: auto;
  border: 3px solid blue;
  overflow: auto;
}
#dbDiv{
  /*float: left;*/
  display: inline-block;
  width: 33%;
  margin: 20px 0;
  justify-content: center;
}
#wellDiv {
  /*margin-left: 20px;*/
  display: inline-block;
  width: 33%;
  position: static;
  margin: 20px 0;
  justify-content: center;
}
#measurementDiv {
/*  float: right;*/
  display: inline-block;
  width: 33%;
  position: static;
  margin: 20px 0;
  justify-content: center;
}
#dbCard, .button {
    padding: 10px 15px;
    margin: 20px 0;
    width: 250px;
    background-color: #f3f3f3;
    border: 1px solid #dedede;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-align: center;
/*    vertical-align: top;*/
}

.collapse{
  display: table;
  text-align: left;
  /*float: center;*/
  margin: auto;
}

.logo{
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: -1;
  padding: 0px;
  margin: 0px;
}